@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPC.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPC.woff") format('woff'), url("../fonts/JasmineUPC.ttf") format('truetype'), url("../fonts/JasmineUPC.svg#JasmineUPC") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPCBold.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPCBold.woff") format('woff'), url("../fonts/JasmineUPCBold.ttf") format('truetype'), url("../fonts/JasmineUPCBold.svg#JasmineUPCBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPCBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPCBoldItalic.woff") format('woff'), url("../fonts/JasmineUPCBoldItalic.ttf") format('truetype'), url("../fonts/JasmineUPCBoldItalic.svg#JasmineUPCBoldItalic") format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPCBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPCBoldItalic.woff") format('woff'), url("../fonts/JasmineUPCBoldItalic.ttf") format('truetype'), url("../fonts/JasmineUPCBoldItalic.svg#JasmineUPCBoldItalic") format('svg');
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPCItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPCItalic.woff") format('woff'), url("../fonts/JasmineUPCItalic.ttf") format('truetype'), url("../fonts/JasmineUPCItalic.svg#JasmineUPCItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'JasmineUPC';
  src: url("../fonts/JasmineUPCItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/JasmineUPCItalic.woff") format('woff'), url("../fonts/JasmineUPCItalic.ttf") format('truetype'), url("../fonts/JasmineUPCItalic.svg#JasmineUPCItalic") format('svg');
  font-weight: normal;
  font-style: oblique;
}
body {
  font-family: "JasmineUPC";
  font-size: 24px;
  color: #4d4d4d;
}
.btn {
  font-size: 24px;
}
.glyphicon {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bold;
}
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}
header .logo-wrapper {
  width: 100%;
  padding: 0;
}
header .logo-wrapper .col-sm-4,
header .logo-wrapper .col-sm-8 {
  background: #fff;
  padding: 0;
}
header .logo {
  text-align: center;
  width: 100%;
}
header .logo img {
  inline-display: block;
  width: 200px;
}
header .navbar {
  background-color: #ed1e79;
  min-height: 0;
  margin-bottom: 0;
  -moz-box-shadow: 0 10px 25px -6px #000;
  -webkit-box-shadow: 0 10px 25px -6px #000;
  box-shadow: 0 10px 25px -6px #000;
  z-index: 2;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 0;
}
header .navbar .navbar-collapse {
  padding: 0;
}
header .navbar .navbar-collapse .navbar-nav {
  margin: 0;
}
header .navbar .navbar-collapse .navbar-nav li {
  display: table;
  width: 100%;
}
header .navbar .navbar-collapse .navbar-nav li a {
  color: #fff;
  display: table-cell;
  padding: 10px 20px;
  vertical-align: middle;
}
header .navbar .navbar-collapse .navbar-nav li a:focus {
  background-color: transparent;
}
header .navbar .navbar-collapse .navbar-nav li a.apple-green {
  background-color: #8dba1f;
}
header .navbar .navbar-collapse .navbar-nav li a.green {
  background-color: #0a6633;
}
header .navbar .navbar-collapse .navbar-nav li a.pink {
  background-color: #ed1e79;
}
header .navbar .navbar-header .navbar-toggle {
  border: 1px solid #fff;
}
header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
header .pink-line {
  background-color: #ed1e79;
  color: #fff;
}
header .pink-line .container-fluid {
  padding: 0;
}
header .pink-line .input-group {
  background-color: #680141;
  padding: 7px 14px;
  margin-left: 120px;
  max-width: 325px;
  position: relative;
}
header .pink-line .input-group .form-control {
  font-size: 24px;
  padding-right: 10px;
  padding-left: 34px;
  -webkit-border-radius: 5px 0 0 5px !important;
  -moz-border-radius: 5px 0 0 5px !important;
  border-radius: 5px 0 0 5px !important;
  height: 31px;
  line-height: 31px;
}
header .pink-line .input-group .glyphicon-search {
  position: absolute;
  left: 24px;
  top: 16px;
  z-index: 4;
  font-size: 14px;
  color: #666;
}
header .pink-line .input-group .input-group-btn .btn-success {
  line-height: 17px;
  border: 1px solid #ccc;
  background-color: #a8ba4a;
}
header .pink-line .input-group .input-group-btn .btn-success:hover {
  background-color: #84913a;
}
header .pink-line .lang-flags {
  display: table;
  height: 45px;
  position: absolute;
  top: 0;
  left: -135px;
}
header .pink-line .lang-flags ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
header .pink-line .lang-flags ul:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
header .pink-line .lang-flags ul li {
  float: left;
  padding: 0 9px;
  background-color: #fff;
}
header .pink-line .lang-flags ul li:first-child {
  padding-right: 0;
}
header .pink-line .lang-flags ul li a {
  display: block;
}
header .pink-line .nav-pills {
  font-size: 20px;
  line-height: 45px;
  margin-left: 162px;
}
header .pink-line .nav-pills li {
  border-left: 1px solid #680141;
  padding: 0 10px;
}
header .pink-line .nav-pills li a {
  display: block;
  float: left;
  padding: 0;
  background: none;
}
header .pink-line .nav-pills li a img {
  width: 20px;
  margin: 3px;
}
header .pink-line .nav-pills li .glyphicon {
  margin-right: 10px;
}
header .slogan {
  background: url("../img/background-slogan.jpg") center center;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
}
header .slogan img {
  display: inline-block;
  width: 90%;
  max-width: 490px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
footer h2 {
  color: #8dba1f;
  margin-top: 0;
}
footer p {
  line-height: normal;
}
footer p .green {
  color: #8dba1f;
}
footer .form-horizontal .control-label {
  color: #8dba1f;
  font-weight: normal;
}
footer .form-horizontal .form-group {
  margin: 0;
}
footer .form-horizontal .form-group textarea {
  resize: none;
  min-height: 200px;
}
footer .form-horizontal .form-group .btn-success {
  margin-top: 20px;
}
footer .rs-f {
  margin-top: 50px;
}
footer .rs-f:last-child {
  margin-bottom: 50px;
}
.block-wood {
  background: url("../img/wood-bg.png") repeat-x 0 0;
  height: 155px;
  margin-top: -18px;
  position: relative;
  z-index: 2;
}
.block-wood .message {
  color: #0a6633;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;
  padding: 25px 5px 5px 5px;
  position: relative;
}
.block-wood .message .white {
  color: #fff;
}
.block-wood .see-more {
  background-color: #0a6633;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  margin-right: 26px;
  padding: 0 20px 0 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 100%;
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=5px, OffY=5px, Color='#333');
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
  filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
}
.block-wood .see-more:before {
  border-bottom: 13px solid transparent;
  border-left: 13px solid #0a6633;
  border-right: 13px solid transparent;
  border-top: 13px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -26px;
}
.line-darkGray {
  background-color: #fff;
  padding: 58px 0 38px 0;
}
.line-darkGray .col-xs-4 {
  text-align: center;
}
.line-darkGray .col-xs-4 .percent {
  font-size: 60px;
  line-height: 40px;
}
.line-darkGray .col-xs-4 .apple-green {
  color: #8dba1f;
  font-weight: bold;
}
.line-darkGray .col-xs-4 .green {
  color: #0a6633;
  font-weight: bold;
}
.line-darkGray .col-xs-4 .pink {
  color: #ed1e79;
  font-weight: bold;
}
.main-slider .carousel .carousel-control {
  color: #009344;
  background-image: none !important;
}
.main-slider .carousel .carousel-control .glyphicon-chevron-right {
  margin-right: 0px;
}
.main-slider .carousel .carousel-control .glyphicon-chevron-left {
  margin-left: 0px;
}
.main-slider .carousel .carousel-indicators li {
  background-color: #fff;
  border-color: #ed1e79;
}
.main-slider .carousel .carousel-indicators li.active {
  background-color: #ed1e79;
}
.products {
  background: url("../img/bg-productos.jpg") repeat-x 0 0;
  min-height: 714px;
  padding-top: 120px;
}
.products .apple-green-message {
  padding: 20px 40px;
  background-color: #8dba1f;
  position: relative;
}
.products .apple-green-message p {
  padding: 0;
  margin: 0;
  text-shadow: 7px 7px 9px rgba(0,0,0,0.75);
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 70px;
}
.products .apple-green-message .see-more {
  background-color: #0a6633;
  color: #fff;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=5px, OffY=5px, Color='#333');
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
  filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  margin-right: 42px;
  padding: 0 100px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 100%;
  margin-top: -65px;
}
.products .apple-green-message .see-more:before {
  border-bottom: 21px solid transparent;
  border-left: 21px solid #0a6633;
  border-right: 21px solid transparent;
  border-top: 21px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -42px;
}
.products .box {
  border: 10px solid transparent;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=5px, OffY=5px, Color='#333');
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
  filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.75));
  display: block;
  margin-bottom: 65px;
}
.products .box img {
  width: 100%;
}
.products .box figcaption {
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #fff;
  display: table;
  font-weight: bold;
  height: 52px;
  left: 50%;
  margin-left: -105.5px;
  margin-top: -7px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 213px;
}
.products .box figcaption span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  line-height: 16px;
}
.products .box.apple-green {
  border-color: #8dba1f;
}
.products .box.apple-green figcaption {
  background-image: url("../img/caption-1.png");
}
.products .box.green {
  border-color: #0a6633;
}
.products .box.green figcaption {
  background-image: url("../img/caption-2.png");
}
.products .box.pink {
  border-color: #ed1e79;
}
.products .box.pink figcaption {
  background-image: url("../img/caption-3.png");
}
@media (min-width: 480px) {
  .block-wood .message {
    font-size: 29px;
    line-height: 30px;
    padding: 25px 15px 15px 15px;
  }
  .block-wood .see-more {
    margin-top: -33px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  header .logo {
    float: left;
  }
  header .navbar .navbar-collapse .navbar-nav li {
    width: auto;
  }
  header .navbar .navbar-collapse .navbar-nav li a {
    text-align: center;
    padding: 5px;
    width: 89px;
    height: 57px;
    vertical-align: middle;
    line-height: 13px;
  }
  header .pink-line.hidden {
    display: block !important;
  }
  header .slogan {
    padding: 16px 0 15px 0;
    margin-top: 0;
    float: left;
  }
  .block-wood .message {
    font-size: 43px;
    line-height: 40px;
  }
  .block-wood .see-more {
    margin-top: -40px;
    font-size: 28px;
  }
  .line-darkGray .col-xs-4 .percent {
    font-size: 120px;
  }
  .line-darkGray .col-xs-4 span {
    font-size: 36px;
  }
  .main-slider {
    padding-top: 159px;
  }
}
@media (min-width: 992px) {
  header .navbar .navbar-collapse .navbar-nav li a {
    width: 117px;
  }
  .block-wood .message {
    font-size: 48px;
    padding: 20px 105px 20px 20px;
  }
  .block-wood .see-more {
    margin-top: -45px;
    font-size: 28px;
    right: 90px;
  }
  .products .apple-green-message {
    padding: 40px 60px;
    margin-top: 30px;
  }
  .products .apple-green-message p {
    padding: 0 140px 0 0;
    font-size: 65px;
    line-height: 50px;
    margin-bottom: 0;
  }
  .products .apple-green-message .see-more {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  header .navbar .navbar-collapse .navbar-nav li a {
    width: 142px;
  }
  .block-wood .message {
    padding: 30px 195px 30px 30px;
    font-size: 50px;
  }
  .block-wood .see-more {
    font-size: 28px;
    margin-top: -57px;
    right: 265px;
  }
}
