@font-face {
	font-family: '../fonts/JasmineUPC';
	src: url('../fonts/JasmineUPC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JasmineUPC.woff') format('woff'),
	url('../fonts/JasmineUPC.ttf')  format('truetype'),
	url('../fonts/JasmineUPC.svg#JasmineUPC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/JasmineUPCBold';
	src: url('../fonts/JasmineUPCBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JasmineUPCBold.woff') format('woff'),
	url('../fonts/JasmineUPCBold.ttf')  format('truetype'),
	url('../fonts/JasmineUPCBold.svg#JasmineUPCBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/JasmineUPCBoldItalic';
	src: url('../fonts/JasmineUPCBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JasmineUPCBoldItalic.woff') format('woff'),
	url('../fonts/JasmineUPCBoldItalic.ttf')  format('truetype'),
	url('../fonts/JasmineUPCBoldItalic.svg#JasmineUPCBoldItalic') format('svg');
	font-weight: bold;
	font-style: italic, oblique;
}

@font-face {
	font-family: '../fonts/JasmineUPCItalic';
	src: url('../fonts/JasmineUPCItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JasmineUPCItalic.woff') format('woff'),
	url('../fonts/JasmineUPCItalic.ttf')  format('truetype'),
	url('../fonts/JasmineUPCItalic.svg#JasmineUPCItalic') format('svg');
	font-weight: normal;
	font-style: italic, oblique;
}