@media (min-width 768px)
	header
		.logo
			float left
			
		.pink-line
			&.hidden
				display block !important
		
		.slogan
			padding 16px 0 15px 0
			margin-top 0
			float left

	.about-section
		.container
			.col-sm-10
				background-color rosado
	
	.line-darkGray
		.col-xs-4
			.percent
				font-size 80px
	
	.main-slider
		.carousel
			.carousel-indicators
				bottom 120px