@media (min-width 480px)
	.block-green
		#message
			color #fff
			font-size 28px
			line-height 30px
			padding 15px
	
@media (min-width 768px)
	header
		.logo
			float left
		
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						width auto
						
						a
							text-align center
							padding 5px
							width 89px
							height 49px
							vertical-align middle
							line-height 13px
			
		.pink-line
			&.hidden
				display block !important
		
		.slogan
			padding 16px 0 15px 0
			margin-top 0
			float left


	.line-darkGray
		.col-xs-4
			.percent
				font-size 120px
				
			span
				font-size 36px
	
	.main-slider
		padding-top 159px


@media (min-width 992px)
	header
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						a
							width 117px
	
	.block-green
		#message
			color #fff
			font-size 48px
			line-height 40px
			padding 20px

@media (min-width 1200px)
	header
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						a
							width 142px
							height 40px
	
	.block-green
		#message
			color #fff
			font-size 58px
			line-height 48px
			padding 30px