@media (min-width 480px)
	.block-wood
		.message
			font-size 29px
			line-height 30px
			padding 25px 15px 15px 15px
		
		.see-more
			margin-top -33px
			line-height 26px
	
@media (min-width 768px)
	header
		.logo
			float left
		
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						width auto
						
						a
							text-align center
							padding 5px
							width 89px
							height 49px
							vertical-align middle
							line-height 13px
			
		.pink-line
			&.hidden
				display block !important
		
		.slogan
			padding 16px 0 15px 0
			margin-top 0
			float left


	.block-wood
		.message
			font-size 43px
			line-height 40px
		
		.see-more
			margin-top -40px
			font-size 28px
			

	.line-darkGray
		.col-xs-4
			.percent
				font-size 120px
				
			span
				font-size 36px
	
	.main-slider
		padding-top 159px


@media (min-width 992px)
	header
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						a
							width 117px
	
	.block-wood
		.message
			font-size 48px
			padding 20px 105px 20px 20px
		
		.see-more
			margin-top -45px
			font-size 28px
			right 90px
	
	.products
		.apple-green-message
			padding 40px 60px
			margin-top 30px
			
			p
				padding 0 140px 0 0
				font-size 65px
				line-height 50px
				margin-bottom 0
			
			.see-more
				font-size 45px

@media (min-width 1200px)
	header
		.navbar
			.navbar-collapse			
				.navbar-nav
					li
						a
							width 142px
							height 40px
	
	.block-wood
		.message
			padding 30px 195px 30px 30px
			font-size 50px
		
		.see-more
			font-size 28px
			margin-top -57px
			right 265px