rosado = #ea0080

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
opacity(n)
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	filter unquote('alpha(opacity=' + round(n * 100) + ')')
	-moz-opacity n
	-khtml-opacity n
	opacity n

@import ("fonts.styl")

body
	font-family "JasmineUPC"
	font-size 24px
	color #4d4d4d

.btn
	font-size 24px

.glyphicon
	font-size 14px

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong
	font-weight bold

header
	.logo
		text-align center
		width 100%
		
		img
			inline-display block
			width 200px
			
	.navbar
		background-color rosado
		min-height 0
		margin-bottom 0
		box-shadow 0 10px 25px -6px #000
		z-index 2
		border-radius 0 !important
		border 0
		
		.navbar-collapse			
			.navbar-nav
				li
					&.active
						a
							background-color #FF8ECB
						
					a
						color white
						padding 10px 20px
						
						&:hover,
						&:focus
							background-color #FF8ECB
					
					&.apple-green
						a
							background-color #8cc63f
							
							&:hover
								background-color #A9DE64
						
					&.green
						a
							background-color #006837
							
							&:hover
								background-color #1D8353

		
		.navbar-header
			.navbar-toggle
				border 1px solid white
				
				.icon-bar
					background-color white
			
	.pink-line
		background-color rosado
		color white
		
		.input-group
			background-color #680141
			padding 10px
			
			.form-control
				font-size 24px
				padding-right 10px
				padding-left 34px
				border-radius 5px 0 0 5px !important
				
			.glyphicon-search
				position absolute
				left 20px
				top 20px
				z-index 4
				font-size 14px
				color #666666
			
			.input-group-btn
				.btn-success
					line-height 20px
					border 1px solid #ccc
		
		.nav-pills
			font-size 20px
			line-height 53px
			
			li
				border-left 1px solid #680141
				padding 0 10px
				
				a
					display block
					float left
					padding 0
					background none

					img
						width 20px
						margin 3px
				
				.glyphicon
					margin-right 10px
				
	.slogan
		background url("../img/background-slogan.jpg") center center
		text-align center
		padding 10px 0
		margin-top 10px
		width 100%
		
		img
			display inline-block
			width 90%
			max-width 490px

footer
	background-color #333333
	color white
	padding 30px 0
	
	h2
		color #8cc63f
		margin-top 0
	
	p
		line-height normal
		
		.green
			color #8cc63f
	
	.form-horizontal
		.control-label
			color #8cc63f
			font-weight normal
		
		.form-group
			margin 0
			
			textarea
				resize none
				min-height 200px
			
			.btn-success
				margin-top 20px
		

.about-section
	background url("../img/bg-1.jpg") repeat repeat
	padding 20px 0
	
	.container
		color white
		
		.col-sm-10
			padding 0
			
			.col-sm-6
				padding 0
				
				&.pink
					background-color rosado
					padding 5px 15px 25px 15px
				
				&:first-child
					text-align center
				
				h2
					font-size 30px
					margin-top 10px
					
				p
					line-height normal
					font-size 20px
				
				.about-content
					position relative
					padding-bottom 10px

				.img-responsive
					display inline-block
			
			.see-more
				display block
				background-color #8cc63f
				text-decoration none
				color white
				position absolute
				right 0
				bottom 0
				padding 0 15px
				
				&:before
					content ""
					display block
					border-top 17px solid transparent
					border-right 17px solid #8cc63f
					border-bottom 17px solid transparent
					border-left 17px solid transparent
					position absolute
					left -34px

.find-us
	padding 30px 0
	
	h2
		background-color #009245
		color white
		display inline-block
		padding 5px 20px 5px 80px
		margin 0 0 20px 0
	
	.img-responsive
		text-align center
		display inline-block

.line-darkGray
	background-color #333333
	padding 30px 0 10px 0
	
	.col-xs-4
		text-align center
		
		.percent
			font-size 60px
			font-weight bold
			line-height 40px
			
			&.apple-green
				color #8cc63f
			
			&.green
				color #006837
			
			&.pink
				color rosado	
			
		span
			color white

.main-slider
	.carousel
		.carousel-control
			color #009344

		.carousel-indicators
			li
				background-color white
				border-color rosado
				
				&.active
					background-color rosado

.nutrition-section
	background url("../img/bg-2.jpg") repeat repeat
	padding 15px 0
	
	h2
		background-color #ed1e79
		color white
		display inline-block
		padding 5px 20px 5px 80px
		margin 0 0 15px 0
	
	.col-sm-4
		.block-pink
			background-color #ed1e79
			position relative
			min-height 1px
			float left
			color white
			margin-bottom 20px
			
			h3
				color #8cc63f
				line-height 18px
			
			p
				font-size 20px
				line-height 18px
			
			.date
				font-size 20px
				line-height 18px
			
			.see-more
				display block
				background-color #8cc63f
				text-decoration none
				color white
				position absolute
				right 0
				bottom 0
				padding 0 100px 0 20px
				
				&:before
					content ""
					display block
					border-top 17px solid transparent
					border-right 17px solid #8cc63f
					border-bottom 17px solid transparent
					border-left 17px solid transparent
					position absolute
					left -34px
		
		.col-sm-5,
		.col-sm-7
			padding 0
		
		.col-sm-7
			&.last
				padding 0 10px 40px 10px

.products-section
	background url("../img/bg-1.jpg") repeat repeat
	
	/*.container
		background url("../img/plantas.png") 50% 0 fixed */
	
	.summary
		text-align center
		
		h2
			color #006837
			font-size 50px
		
		p
			line-height normal
			margin-bottom 30px
	
	.col-sm-8
		.col-sm-4
			text-align center
			margin-bottom 40px
			
			span
				color #009245
				font-weight bold
				display block
			
			p
				text-align center
				line-height normal
			
			.img-responsive
				display inline-block

.recipes-section
	padding 30px 0
	background url("../img/bg-4.jpg") repeat repeat
	
	h2
		background-color white
		color #ed1e79
		display inline-block
		padding 5px 20px 5px 80px
		margin 0 0 20px 0
	
	.caption
		color white
		background-color #ed1e79
		display inline-block
		text-align center
		padding 10px
		line-height normal
		position absolute
		bottom 0
		left 15px
	
	.see-more
		background-color #d9e021
		display inline-block
		color #333333
		text-align center
		padding 5px 15px
		line-height normal
		position absolute
		bottom 0
		right 15px

.sports
	padding 30px 0
	background url("../img/bg-3.jpg") 50% 0 fixed
	
	h2
		background-color #009245
		color white
		display inline-block
		padding 5px 20px 5px 80px
		margin 0
	
	h3
		color #d9e021
		font-size 30px
	
	p
		line-height normal
		position relative
	
	.col-sm-3
		text-align center
		
		.img-responsive
			display inline-block
			margin-top 10px
			margin-bottom 10px
	
	.col-sm-9
		padding-bottom 50px

	.row
		&:first-child
			border-bottom 1px solid #8cc63f
				
	.see-more
		display block
		background-color #8cc63f
		text-decoration none
		color white
		position absolute
		right 32px
		bottom 17px
		padding 0 100px 0 20px
		
		&:before
			content ""
			display block
			border-top 17px solid transparent
			border-right 17px solid transparent
			border-bottom 17px solid transparent
			border-left 17px solid #8cc63f
			position absolute
			right -34px
		
	.container
		color white
		
		.col-sm-10
			background rgba(66,33,11,.5)


@import ("responsive.styl")
	