rosado = #ED1E79
verde_limon = #8DBA1F
verde_palta = #0A6633

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
opacity(n)
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	filter unquote('alpha(opacity=' + round(n * 100) + ')')
	-moz-opacity n
	-khtml-opacity n
	opacity n

drop-shadow(n)
	filter: unquote("progid:DXImageTransform.Microsoft.Dropshadow(OffX="+n+", OffY="+n+", Color='#333')")
	-webkit-filter: unquote("drop-shadow("+n+" "+n+" 3px rgba(0,0,0,0.75))")
	filter: unquote("drop-shadow("+n+" "+n+" 3px rgba(0,0,0,0.75))")


@import ("fonts.styl")

body
	font-family "JasmineUPC"
	font-size 24px
	color #4d4d4d

.btn
	font-size 24px

.glyphicon
	font-size 14px

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong
	font-weight bold

header
	position fixed
	z-index 99
	width 100%
	background-color white
	
	.logo-wrapper
		width 100%
		padding 0
			
		.col-sm-4,
		.col-sm-8
			background white
			padding 0
	
	.logo
		text-align center
		width 100%
		
		img
			inline-display block
			width 200px
			
	.navbar
		background-color rosado
		min-height 0
		margin-bottom 0
		box-shadow 0 10px 25px -6px #000
		z-index 2
		border-radius 0 !important
		border 0
		
		.navbar-collapse
			padding 0
					
			.navbar-nav
				li
					display table
					width 100%
						
					a
						color white
						display table-cell
						padding 10px 20px
						vertical-align middle
						
						&:focus
							background-color transparent
						
						&.apple-green
							background-color verde_limon
						
						&.green
							background-color verde_palta
						
						&.pink
							background-color rosado
		
		.navbar-header
			.navbar-toggle
				border 1px solid white
				
				.icon-bar
					background-color white
			
	.pink-line
		background-color rosado
		color white
		
		.container-fluid
			padding 0
		
		.input-group
			background-color #680141
			padding 7px 14px
			margin-left 120px
			max-width 325px
			position relative
			
			.form-control
				font-size 24px
				padding-right 10px
				padding-left 34px
				border-radius 5px 0 0 5px !important
				height 31px
				line-height 31px
				
			.glyphicon-search
				position absolute
				left 24px
				top 16px
				z-index 4
				font-size 14px
				color #666666
			
			.input-group-btn
				.btn-success
					line-height 17px
					border 1px solid #ccc
					background-color #a8ba4a
					
					&:hover
						background-color #84913a
				
		
		.lang-flags
			display table
			height 45px
			position absolute
			top 0
			left -135px
			
			ul
				list-style none
				margin 0
				padding 0
				display table-cell
				vertical-align middle
				
				&:after
					content ""
					clear both
					display block
					height 0
				
				li
					float left
					padding 0 9px
					background-color white
					
					&:first-child
						padding-right 0

					a
						display block

		.nav-pills
			font-size 20px
			line-height 45px
			/*margin-left 162px*/
			
			li
				border-left 1px solid #680141
				padding 0 10px
				
				a
					display block
					float left
					padding 0
					background none

					img
						width 20px
						margin 3px
				
				.glyphicon
					margin-right 10px
				
	.slogan
		background url("../img/background-slogan.jpg") center center
		text-align center
		padding 10px 0
		margin-top 10px
		width 100%
		
		img
			display inline-block
			width 90%
			max-width 490px

footer
	background-color #333333
	color white
	padding 30px 0
	
	h2
		color verde_limon
		margin-top 0
	
	p
		line-height normal
		
		.green
			color verde_limon
	
	.form-horizontal
		.control-label
			color verde_limon
			font-weight normal
		
		.form-group
			margin 0
			
			textarea
				resize none
				min-height 200px
			
			.btn-success
				margin-top 20px
	
	.rs-f
		margin-top 50px
		
		&:last-child
			margin-bottom 50px


.block-wood
	background url("../img/wood-bg.png") repeat-x 0 0
	height 155px
	margin-top -18px
	position relative
	z-index 2
	
	.message
		color verde_palta
		font-style italic
		font-weight bold
		font-size 28px
		line-height 26px
		padding 25px 5px 5px 5px
		position relative
		
		.white
			color white
	
	.see-more
		background-color verde_palta
		color #fff
		display inline-block
		font-size 24px
		font-style normal
		margin-right 26px
		padding 0 20px 0 20px
		position absolute
		right 0
		text-decoration none
		top 100%
		drop-shadow(5px)
		
		&:before
			border-bottom 13px solid transparent
			border-left 13px solid verde_palta
			border-right 13px solid transparent
			border-top 13px solid transparent
			content ""
			display block
			position absolute
			right -26px


.line-darkGray
	background-color white
	padding 58px 0 38px 0
	
	.col-xs-4
		text-align center
		
		.percent
			font-size 60px
			line-height 40px
			
		.apple-green
			color verde_limon
			font-weight bold
		
		.green
			color verde_palta
			font-weight bold
		
		.pink
			color rosado
			font-weight bold	


.main-slider
	.carousel
		.carousel-control
			color #009344
			background-image none !important
			
			.glyphicon-chevron-right
				margin-right 0px
			
			.glyphicon-chevron-left
				margin-left 0px

		.carousel-indicators
			li
				background-color white
				border-color rosado
				
				&.active
					background-color rosado


.products
	background url("../img/bg-productos.jpg") repeat-x 0 0
	min-height 714px
	padding-top 120px
	
	.apple-green-message
		padding 20px 40px
		background-color verde_limon
		position relative
		
		p
			padding 0
			margin 0
			text-shadow 7px 7px 9px rgba(0,0,0,.75)
			font-weight bold
			color white
			font-size 40px
			font-style italic
			line-height 30px
			margin-bottom 70px
		
		.see-more
			background-color verde_palta
			color white
			display inline-block
			drop-shadow(5px)
			font-size 30px
			font-weight bold
			line-height 42px
			margin-right 42px
			padding 0 100px
			position absolute
			right 0
			text-decoration none
			top 100%
			margin-top -65px
			
			&:before
				border-bottom 21px solid transparent
				border-left 21px solid verde_palta
				border-right 21px solid transparent
				border-top 21px solid transparent
				content ""
				display block
				position absolute
				right -42px
	
	.box
		border 10px solid transparent
		position relative
		drop-shadow(5px)
		display block
		margin-bottom 65px
		
		img
			width 100%
		
		figcaption
			background-position 0 0
			background-repeat no-repeat
			color white
			display table
			font-weight bold
			height 52px
			left 50%
			margin-left -105.5px
			margin-top -7px
			position absolute
			text-align center
			top 100%
			width 213px
			
			span
				display table-cell
				vertical-align middle
				padding 0 20px
				line-height 16px
		
		&.apple-green
			border-color verde_limon
			
			figcaption
				background-image url("../img/caption-1.png")
		
		&.green
			border-color verde_palta
			
			figcaption
				background-image url("../img/caption-2.png")
		
		&.pink
			border-color rosado
			
			figcaption
				background-image url("../img/caption-3.png")

@import ("responsive.styl")
	