rosado = #ED1E79
verde_limon = #8DBA1F
verde_palta = #0A6633

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
opacity(n)
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	filter unquote('alpha(opacity=' + round(n * 100) + ')')
	-moz-opacity n
	-khtml-opacity n
	opacity n

@import ("fonts.styl")

body
	font-family "JasmineUPC"
	font-size 24px
	color #4d4d4d

.btn
	font-size 24px

.glyphicon
	font-size 14px

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong
	font-weight bold

header
	position fixed
	z-index 99
	width 100%
	background url("../img/bg-1.jpg") repeat repeat
	
	.logo-wrapper
		.col-sm-4,
		.col-sm-8
			background white
			padding 0
	
	.logo
		text-align center
		width 100%
		
		img
			inline-display block
			width 200px
			
	.navbar
		background-color rosado
		min-height 0
		margin-bottom 0
		box-shadow 0 10px 25px -6px #000
		z-index 2
		border-radius 0 !important
		border 0
		
		.navbar-collapse
			padding 0
					
			.navbar-nav
				li
					display table
					width 100%
						
					a
						color white
						display table-cell
						padding 10px 20px
						vertical-align middle
						
						&:focus
							background-color transparent
						
						&.apple-green
							background-color verde_limon
						
						&.green
							background-color verde_palta
						
						&.pink
							background-color rosado
		
		.navbar-header
			.navbar-toggle
				border 1px solid white
				
				.icon-bar
					background-color white
			
	.pink-line
		background-color rosado
		color white
		
		.container
			padding 0
		
		.input-group
			background-color #680141
			padding 10px
			
			.form-control
				font-size 24px
				padding-right 10px
				padding-left 34px
				border-radius 5px 0 0 5px !important
				
			.glyphicon-search
				position absolute
				left 20px
				top 20px
				z-index 4
				font-size 14px
				color #666666
			
			.input-group-btn
				.btn-success
					line-height 20px
					border 1px solid #ccc
					background-color #a8ba4a
					
					&:hover
						background-color #84913a
		
		.nav-pills
			font-size 20px
			line-height 53px
			margin-left 162px
			
			li
				border-left 1px solid #680141
				padding 0 10px
				
				a
					display block
					float left
					padding 0
					background none

					img
						width 20px
						margin 3px
				
				.glyphicon
					margin-right 10px
				
	.slogan
		background url("../img/background-slogan.jpg") center center
		text-align center
		padding 10px 0
		margin-top 10px
		width 100%
		
		img
			display inline-block
			width 90%
			max-width 490px

footer
	background-color #333333
	color white
	padding 30px 0
	
	h2
		color verde_limon
		margin-top 0
	
	p
		line-height normal
		
		.green
			color verde_limon
	
	.form-horizontal
		.control-label
			color verde_limon
			font-weight normal
		
		.form-group
			margin 0
			
			textarea
				resize none
				min-height 200px
			
			.btn-success
				margin-top 20px
	
	.rs-f
		margin-top 50px
		
		&:last-child
			margin-bottom 50px


.block-green
	background-color #01cc01
	
	#message
		color #fff
		font-style italic
		font-weight bold
		font-size 22px
		line-height 26px
		padding 5px


.line-darkGray
	background-color white
	padding 58px 0 38px 0
	
	.col-xs-4
		text-align center
		
		.percent
			font-size 60px
			line-height 40px
			
		.apple-green
			color verde_limon
			font-weight bold
		
		.green
			color verde_palta
			font-weight bold
		
		.pink
			color rosado
			font-weight bold	


.main-slider
	.carousel
		.carousel-control
			color #009344
			background-image none !important
			
			.glyphicon-chevron-right
				margin-right 0px
			
			.glyphicon-chevron-left
				margin-left 0px

		.carousel-indicators
			li
				background-color white
				border-color rosado
				
				&.active
					background-color rosado


@import ("responsive.styl")
	